node_modules
db.sqlite3

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Visual Studio Code # 
.vscode 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 